@{
    ViewData["Title"] = "Home Page";
}
@model List<CustomerSupport.Models.Ticket>



<h1>Home</h1>

<table class="table table-hover table-bordered">
    <thead>
        <tr>
           
            <th>Title</th>
            <th>Date Created</th>
            <th>Status</th>
            <th>Date closed</th>
            <th>Actions</th>
        </tr>      
    </thead>
    <tbody>
        @foreach(var ticket in Model)
        {
        <tr>
            <td>@ticket.Title</td>
            <td>@ticket.DateCreated.ToString("dd-MMMM-yyyy")</td>
            <td>@ticket.Status</td>
            @if (ticket.DateClosed.HasValue)
            {
                <td>@ticket.DateClosed.Value.ToString("dd-MMMM-yyyy")</td>
            }
            else
            {
                <td>/</td>
            }
        <td>
            <a class="btn btn-success" asp-action="Details" asp-route-id="@ticket.Id">Details</a>
            <a class="btn btn-success" asp-action="Delete" asp-route-id="@ticket.Id">Delete</a>

        </td>

        </tr>
        }
        
        

    </tbody>
</table>